@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>



        <p class="text-left">
            GITA Tech works with small companies and non profits to meet Software,
            Networking, and Security needs
        </p>
        <p class="text-left">
            You can find our official site <a href="https://www.gita-tech.com/">here</a>
            <br />

        <p>The time is @DateTime.Now</p>

    </div>
